<div class="col-2">
    <label for="Create" class="col-form-label">Nowy</label>
    <button class="btn btn-light form-control" id="Create">
        <span class="iconify" data-icon="raphael:customer" data-inline="false" data-width="26" data-height="26"></span>
    </button>
</div>