@model int

<div class="col-md-3 offset-md-3">
    <a href='javascript:history.go(-1)' class="btn btn-light text-dark form-control">
        <i class="fas fa-arrow-left"></i>&nbsp;&nbsp;Wstecz
    </a>
</div>
<div class="col-md-3">
    <button type="submit" class="btn btn-success form-control" value="Edit">
        <i class="far fa-save"></i>&nbsp;&nbsp;Zapisz
    </button>
</div>

