<div class="btn-group" role="group">
    <a class="btn btn-light text-dark" asp-action="View" asp-route-Id="@Model">
        &nbsp;&nbsp;<i class="fas fa-user-times"></i></i>&nbsp;&nbsp;
    </a>
    <a class="btn btn-light text-dark" asp-action="Edit" asp-route-Id="@Model">
        &nbsp;&nbsp;<i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;
    </a>  
</div>
